@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
}

body {
	font-family: 'Poppins', sans-serif;
	color: white;
	background-color: black;
	font-weight: 400;
	background-color: #212121;
}

.bg4{
    background-color: #000000;
}
.bg3{
    background-color: #212121;
}
.bg2{
    background-color: #303030;
}
.bg1{
    background-color: #424242;
}

.shadow{
    box-shadow: 0px 2px 20px 1px #000000;
}

.slightshadow{
    box-shadow: 0px 2px 10px 1px #000000;
}

.fill{
	width: 100%;
	height: 100%;
}

/* a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
} */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: #303030 #212121;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 15px;
}

*::-webkit-scrollbar-track {
background: #212121;
}

*::-webkit-scrollbar-thumb {
background-color: #303030;
border-radius: 15px;
border: 0px solid #303030;
}

progress {
	background-color: #212121;
  }
  progress::-webkit-progress-bar {
	/* style rules */
	background-color: #212121;
  }
  progress::-webkit-progress-value {
	/* style rules */
	background-color: rgb(148, 148, 148);
	border-radius: 5px;
  }
  progress::-moz-progress-bar {
	background-color: white;
	border-radius: 5px;
  }

/* Float */
.hvr-float {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	/* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
  }
/* Grow Rotate */
.hvr-grow-rotate {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	/* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
  }
  .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
	-webkit-transform: scale(1.1) rotate(4deg);
	transform: scale(1.1) rotate(4deg);
  }

a {
	color: white;
	text-decoration: none;
}

/* Fade */
.hvr-fade {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	/* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
	background-color: #424242;
	color: white;
  }
  